// variables
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
$font-family-sans: "DM Sans", sans-serif;

$color-primary: #901c1c;
$color-secondary: #db8876;

$color-white: #fff;
$color-100: #fafafa;
$color-200: #e5e5e5;
$color-300: #c4c4c4;
$color-350: #737373;
$color-400: #757575;
$color-500: #525252;
$color-black: #000;
