@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@keyframes opacify {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Base */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

p,
li,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* Accessibility */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}

/* Components */
/* Helpers */
/* Links */
.skip-link {
  position: absolute;
  left: 50%;
  padding: 0.1875rem 0.375rem;
  transform: translate(-50%, -100%);
  transition: transform 0.3s;
  border-radius: 0.3125rem;
  background-color: #db8876;
  color: #000;
  font-size: 1.125rem;
  line-height: 30px;
  line-height: 1.4375rem;
  text-decoration: none;
}

.skip-link:focus {
  transform: translate(-50%, 0);
}

/* Buttons */
.btn {
  padding: clamp(0.375rem, 5%, 1.4375rem) clamp(1.125rem, 5%, 1.125rem);
  border: 0;
  background-color: #901c1c;
  border-radius: 5px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
}
.btn:hover, .btn:focus {
  background-color: #db8876;
  color: #000;
}

.btn-like,
.btn-like::after {
  width: 1.25rem;
  height: 1.25rem;
}

.btn-like {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 0;
  background: transparent;
}
.btn-like::after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #901c1c;
  content: "♥";
  font-size: 1.2rem;
  line-height: 1.1;
}

/* Images */
.thumbnail {
  max-height: 100px;
  object-fit: cover;
}

.thumb-preview {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.card {
  animation: opacify 300ms ease-in-out forwards;
  text-align: center;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card__img {
  width: 12.5rem;
  height: 12.5rem;
  margin: auto;
  border-radius: 12.5rem;
  object-fit: cover;
}

.card__name {
  margin-top: 1.25rem;
  color: #d3573c;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1;
}

.card__location {
  margin-top: 0.25rem;
  color: #901c1c;
  font-size: 0.8125rem;
  font-weight: normal;
}

.card__tagline {
  color: #000;
  font-size: 0.625rem;
  font-weight: normal;
}

.card__pricing {
  margin-bottom: 0.25rem;
  color: #757575;
  font-size: 0.5625rem;
  font-weight: normal;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.tag-link {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #c4c4c4;
  border-radius: 21px;
  background-color: transparent;
  color: #901c1c;
  font-size: 12px;
  text-decoration: none;
}

.tag-link:hover,
.tag-link:focus {
  background-color: #901c1c;
  color: #fff;
}

.media-gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
}
@media (min-width: 45.3125rem) {
  .media-gallery {
    grid-gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 75rem) {
  .media-gallery {
    grid-gap: 1.875rem 5.9375rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.media__content {
  animation: opacify 300ms ease-in-out forwards;
}

.media__link {
  text-decoration: none;
}

.media__figure {
  margin: 0;
}

.media__figure-video {
  --triangle-side: 2rem;
  --triangle-multiplier: 1.73205;
  --circle-multiplier: 1.1547;
  --overlay-size: calc(var(--triangle-side) * var(--triangle-multiplier));
  --circle-rayon: calc(var(--circle-multiplier) * var(--triangle-side));
  --circle-diameter: calc(var(--circle-rayon) * 2);
  --circle-border: calc(var(--triangle-side) / 3);
  --delta1: calc(var(--overlay-size) - var(--triangle-side));
  --delta2: calc(var(--delta1) / 1.4);
  display: grid;
  grid-template-areas: "grid";
  place-items: center;
}
.media__figure-video .media {
  grid-area: grid;
}
.media__figure-video::before, .media__figure-video::after {
  z-index: 10;
  box-sizing: content-box;
  content: "";
  grid-area: grid;
  opacity: 0.5;
}
.media__figure-video::before {
  z-index: 20;
  border-top: var(--triangle-side) solid transparent;
  border-bottom: var(--triangle-side) solid transparent;
  border-left: var(--overlay-size) solid #901c1c;
  margin-left: var(--delta2);
}
.media__figure-video::after {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  box-sizing: content-box;
  border: var(--circle-border) solid #901c1c;
  border-radius: var(--circle-diameter);
}

.media {
  display: block;
  width: 100%;
  height: 11.875rem;
  border-radius: 0.3125rem;
  object-fit: cover;
}
@media (min-width: 45.3125rem) {
  .media {
    height: 18.75rem;
  }
}

.media__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0;
  color: #901c1c;
  font-size: 0.875rem;
}

.media__price {
  display: none;
}

.sort-nav {
  display: none;
  margin-bottom: 3.625rem;
  font-size: 1.125rem;
  font-weight: bold;
}
@media (min-width: 45.3125rem) {
  .sort-nav {
    display: inline-block;
    align-items: center;
  }
}

.sort-nav__label {
  position: relative;
  z-index: 10;
  font-weight: bold;
}

.sort-nav__list {
  position: absolute;
  top: -0.875rem;
  left: 100%;
  overflow: hidden;
  max-height: 3.4375rem;
  margin-left: 1.5625rem;
  background-color: #901c1c;
  border-radius: 0.3125rem;
  color: #fff;
  cursor: default;
  transition: max-height 200ms ease-in-out;
}
.sort-nav__list:focus-within {
  max-height: 50rem;
}
.sort-nav__list:focus-within::after {
  transform: rotate(225deg);
}
.sort-nav__list::after {
  position: absolute;
  top: 1em;
  right: 0.875rem;
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  content: "";
  pointer-events: none;
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform 200ms ease-in-out;
}

.sort-nav__item {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.875rem 3.25rem 0.875rem 0.625rem;
  border: 0;
  margin-bottom: 0.0625rem;
  border-radius: 0;
  white-space: nowrap;
}

.sort-nav__item:last-child {
  margin-bottom: 0;
}

.sort-nav__item:first-child::after,
.sort-nav__item:last-child::before {
  position: absolute;
  right: 0.625rem;
  left: 0.625rem;
  height: 0.0625rem;
  background-color: #fff;
  content: "";
}

.sort-nav__item:first-child::after {
  bottom: -0.0625rem;
}

.sort-nav__item:last-child::before {
  top: -0.0625rem;
}

/* Layouts */
body {
  overflow-y: scroll;
}

.container {
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.page-wrapper {
  position: relative;
  padding: 0 1.25rem;
}

.site-header {
  padding: 2.5rem 0 2.875rem;
}

.link-home {
  display: inline-flex;
}

.banner {
  width: 9.375rem;
  height: 2.375rem;
}
@media (min-width: 45.3125rem) {
  .banner {
    width: 12.5rem;
    height: 3.125rem;
  }
}

.site-main {
  padding-bottom: 2.5rem;
}
@media (min-width: 45.3125rem) {
  .site-main {
    padding-bottom: 4.75rem;
  }
}

/* Pages */
.site-header .tag-nav {
  animation: opacify 300ms ease-in-out forwards;
  margin-top: 1.875rem;
  padding: 0 2.5rem;
}

.page-title {
  position: absolute;
  top: 2.9375rem;
  right: 1.25rem;
  color: #901c1c;
  font-size: 0.875rem;
}
@media (min-width: 45.3125rem) {
  .page-title {
    top: 2.3125rem;
    font-size: 2.25rem;
  }
}

.section-photographers {
  --min: 19.375rem;
  grid-column-gap: 6.25rem;
  grid-row-gap: 1.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), auto));
}

@media (min-width: 75rem) {
  #page-home .site-header {
    display: grid;
    align-items: center;
    grid-template-columns: 12.5rem 1fr 19.0625rem;
  }
  #page-home .site-header .tag-nav {
    margin: 0;
  }
}
.photographer-section {
  display: flex;
  position: relative;
  margin-top: 1.3125rem;
  column-gap: 1rem;
  z-index: 10;
}

.photographer__resume {
  padding-top: 0.5rem;
}

.photographer__name {
  color: #d3573c;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1;
}

.photographer__location {
  margin-top: 0.25 rem;
  color: #901c1c;
  font-size: 0.8125rem;
  font-weight: normal;
}

.photographer__tagline {
  margin-top: 0.125rem;
  color: #525252;
  font-size: 0.8125rem;
  font-weight: normal;
}

.photographer-section .tag-nav {
  margin: 0.3rem 0 0;
  padding: 0;
}

.photographer-section .tag-list {
  justify-content: flex-start;
}

.photographer__btn-contact {
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 0.375rem 1.125rem;
  transform: translateX(-50%);
  font-size: 1.125rem;
}

.photographer__picture {
  flex-shrink: 0;
  margin-left: auto;
}

.photographer__img {
  object-fit: cover;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}

.photographer__aside {
  display: none;
  position: fixed;
  right: 2.25rem;
  bottom: 0;
  padding: 1.25rem 1.875rem;
  border-radius: 5px 5px 0 0;
  background-color: #db8876;
}

.photographer__likes::after {
  margin-left: 0.375rem;
  color: #000;
  font-size: 1.2em;
  line-height: 1;
  content: "♥";
}

.photographer__likes,
.photographer__pricing {
  color: #000;
  font-size: 1.5rem;
}

@media (min-width: 45.3125rem) {
  .photographer__name {
    margin-bottom: 1rem;
    font-size: 4rem;
  }

  .photographer__location {
    font-size: 1.5rem;
  }

  .photographer__tagline {
    margin-top: 1rem;
    font-size: 1.125rem;
  }

  .photographer-section .tag-nav {
    margin-top: 1rem;
  }

  .photographer-section .tag-link {
    font-size: 1.125rem;
  }

  .photographer__img {
    width: 12.5rem;
    height: 12.5rem;
  }

  .photographer__btn-contact {
    position: static;
    align-self: flex-start;
    margin-right: auto;
    padding: 1.3125rem 0.6875rem;
    transform: translateX(0);
    font-size: 1.25rem;
    white-space: nowrap;
  }

  .photographer__aside {
    display: flex;
    column-gap: 4.1875rem;
  }
}

/*# sourceMappingURL=style.css.map */
