/* Layouts */
body {
  overflow-y: scroll; // prevent screen flickering when loading content
}
.page {
  position: relative;
  max-width: 90rem;
  padding: 0 1.25rem;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  padding: 2.5rem 0 2.875rem;
}

.nav-home {
  position: absolute;
  z-index: 20;
  top: 2.5rem;
  left: 1.25rem;
}

.link-home {
  display: inline-flex;

  > * {
    //important. Need this for the eventlistener in js
    pointer-events: none;
  }
}

.banner {
  width: 9.375rem;
  height: 2.375rem;

  @media (min-width: $small-screen) {
    width: 12.5rem;
    height: 3.125rem;
  }
}
.site-main {
  padding-bottom: 4.75rem;
}
