/* Layouts */
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.page-wrapper {
  position: relative;
}

.site-header {
  padding-top: 40px;
}

.banner {
  width: 150px;
  height: 38px;
  margin: 0 0 0 20px;
}

.top-nav {
  margin-top: 30px;
  padding: 0 40px;
}

.site-main {
  padding-top: 46px;
}

.page-title {
  position: absolute;
  top: 47px;
  right: 20px;
}

.section-photographers {
  --min: 310px;

  grid-column-gap: 100px;
  grid-row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}
