/* Layouts */
body {
  overflow-y: scroll; // prevent screen flickering when loading content
}
.container {
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.page-wrapper {
  position: relative;
  padding: 0 1.25rem;
}

.site-header {
  padding: 2.5rem 0 2.875rem;
}

.link-home {
  display: inline-flex;
}

.svg-banner {
  width: 9.375rem;
  height: 2.375rem;
}

.top-nav {
  @include opacify;

  margin-top: 1.875rem;
  padding: 0 2.5rem;
}

.page-title {
  position: absolute;
  top: 2.9375rem;
  right: 1.25rem;
}

.section-photographers {
  --min: 19.375rem;

  grid-column-gap: 6.25rem;
  grid-row-gap: 1.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), auto));
}

.sort-nav {
  display: none;
  position: relative;
  margin-bottom: 3.625rem;
  padding-right: 1.5625rem;
  font-size: 1.125rem;
  font-weight: bold;

  @media (min-width: $small-screen) {
    display: inline-flex;
  }
}

.sort-title {
  font-weight: bold;
}

.sort-list {
  position: absolute;
  top: -0.875rem;
  left: 100%;
  height: 3.4375rem;
  margin: 0;
  padding: 0 0.625rem;
  border-radius: 0.3125rem;
  background-color: $color-primary;
  color: $white;
  overflow: hidden;

  &::after {
    display: block;
    position: absolute;
    top: 1.3125rem;
    right: 0.875rem;
    width: 0.875rem;
    height: 0.875rem;
    transform: rotate(45deg);
    transform-origin: center;
    border-top: 3px solid $white;
    border-left: 3px solid $white;
    content: "";
  }
}
.sort-item {
  padding: 0.875rem 2.625rem 0.875rem 0;
}

.sort-item:first-child {
  border-bottom: 1px solid $white;
}

.sort-item:last-child {
  border-top: 1px solid $white;
}
