/* Buttons */
.btn {
  padding: clamp(0.375rem, 5%, 1.4375rem) clamp(1.125rem, 5%, 1.125rem);
  border: 0;
  background-color: $color-primary;
  border-radius: 5px;
  color: $white;
  font-size: 1.125rem;
  font-weight: bold;

  &:hover,
  &:focus {
    background-color: $color-tertiary;
    color: $black;
  }
}

.btn-like,
.btn-like::after {
  width: 1.25rem;
  height: 1.25rem;
}

.btn-like {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 0;
  background: transparent;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    color: $color-primary;
    content: "\2665";
    font-size: 1.2rem;
    line-height: 1.1;
  }
}
