.card {
  @include opacify;

  text-align: center;
}

.card-link {
  display: block;
  text-decoration: none;

  > * {
    //important. Need this for the eventlistener in js
    pointer-events: none;
  }
}

.card__img {
  width: 12.5rem;
  height: 12.5rem;
  margin: auto;
  border-radius: 12.5rem;
  object-fit: cover;
}

.card__name {
  margin-top: 1.25rem;
  color: $color-secondary;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1;
}

.card__location {
  margin-top: 0.25rem;
  color: $color-primary;
  font-size: 0.8125rem;
  font-weight: normal;
}
.card__tagline {
  color: #000;
  font-size: 0.625rem;
  font-weight: normal;
}

.card__pricing {
  margin-bottom: 0.25rem;
  color: $color-grey-400;
  font-size: 0.5625rem;
  font-weight: normal;
}
