.modal {
  @include opacify;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: hsla(0, 0%, 77%, 0.4);
  opacity: 0;
  transition: opacity 200ms linear;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 1.25rem;
  background-color: $color-tertiary;
  overflow-y: auto;

  @media (min-width: $medium-screen) {
    max-width: 41.8125rem;
  }
}

.form__header {
  color: $black;
  font-size: 2.25rem;
}

.btn-close-modal {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: flex;
  padding: 0;
  background: 0;

  &:hover .close-modal__icon,
  &:focus .close-modal__icon {
    fill: $color-primary;
  }

  &:focus-visible .close-modal__icon {
    fill: $color-focus;
  }
}

.close-modal__icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: $white;

  @media (min-width: $medium-screen) {
    width: 2.625rem;
    height: 2.625rem;
  }
}

.form-contact {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 1em;
}

.text-label {
  color: #312e2e;
  font-size: 1.5rem;
}

.text-control {
  display: block;
  width: 100%;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  font-size: 1.125rem;

  @media (min-width: $medium-screen) {
    margin: 0 auto 0 0;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-focus;
    color: $white;
  }
}
