.sort-nav {
  position: relative;
  z-index: 10;
  display: none;
  margin-bottom: 3.625rem;
  font-size: 1.125rem;
  font-weight: bold;

  @media (min-width: $small-screen) {
    display: inline-block;
    align-items: center;
  }
}

.sort-nav__label {
  font-weight: bold;
}

.sort-nav__list {
  position: absolute;
  top: -0.875rem;
  left: 100%;
  overflow: hidden;
  max-height: 3.4375rem;
  margin-left: 1.5625rem;
  background-color: $color-primary;
  border-radius: 0.3125rem;
  color: $white;
  cursor: default;
  transition: max-height 200ms ease-in-out;

  &:focus-within {
    max-height: 50rem;
    box-shadow: 0 0 0 0.1875rem $white, 0 0 0 0.375rem $color-focus;
  }

  &:focus-within::after {
    transform: rotate(225deg);
  }

  &::after {
    position: absolute;
    top: 1em;
    right: 0.875rem;
    display: block;
    width: 0.875rem;
    height: 0.875rem;
    border-right: 3px solid $white;
    border-bottom: 3px solid $white;
    content: "";
    pointer-events: none;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 200ms ease-in-out;
  }
}

.sort-nav__item {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.875rem 3.25rem 0.875rem 0.625rem;
  border: 0;
  margin-bottom: 0.0625rem;
  border-radius: 0;
  white-space: nowrap;
}

.sort-nav__item:focus-visible {
  box-shadow: none;
}

.sort-nav__item:last-child {
  margin-bottom: 0;
}

.sort-nav__item:first-child::after,
.sort-nav__item:last-child::before {
  position: absolute;
  right: 0.625rem;
  left: 0.625rem;
  height: 0.0625rem;
  background-color: $white;
  content: "";
}

.sort-nav__item:first-child::after {
  bottom: -0.0625rem;
}

.sort-nav__item:last-child::before {
  top: -0.0625rem;
}
