.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: hsla(0, 0%, 77%, 0.4);

  @media (min-width: $small-screen) {
    align-items: center;
  }
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 1.25rem;
  background-color: $color-tertiary;

  @media (min-width: $small-screen) {
    max-width: 41.8125rem;
  }
}

.form__header {
  color: $black;
  font-size: 2.25rem;
}

.btn-close-modal {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  padding: 0;
  background: 0;
}

.close-modal__icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: $white;

  @media (min-width: $small-screen) {
    width: 2.625rem;
    height: 2.625rem;
  }
}

.text-label {
  color: #312e2e;
  font-size: 1.5rem;
}

.text-control {
  display: block;
  width: 100%;
}
