.media-gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;

  @media (min-width: $small-screen) {
    grid-gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $large-screen) {
    grid-gap: 1.875rem 5.9375rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.media__content {
  @include opacify;
}

.media__link {
  text-decoration: none;
}

.media__figure {
  margin: 0;
}

.media__figure-video {
  --triangle-side: 2rem;
  --triangle-multiplier: 1.73205; // to get the height of an equilateral triangle
  --circle-multiplier: 1.1547; // to get the diameter of the circle
  --overlay-size: calc(var(--triangle-side) * var(--triangle-multiplier));
  --circle-rayon: calc(var(--circle-multiplier) * var(--triangle-side));
  --circle-diameter: calc(var(--circle-rayon) * 2);
  --circle-border: calc(var(--triangle-side) / 3); // random numer to get the width of the circle
  --delta1: calc(var(--overlay-size) - var(--triangle-side));
  --delta2: calc(var(--delta1) / 1.4); // magic number that make the triangle fit inside the circle

  display: grid;
  grid-template-areas: "grid";
  place-items: center;

  .media {
    grid-area: grid;
  }

  &::before,
  &::after {
    box-sizing: content-box;
    opacity: 0.5;
    content: "";
    z-index: 10;
    grid-area: grid;
  }

  &::before {
    margin-left: var(--delta2);
    border-top: var(--triangle-side) solid transparent;
    border-bottom: var(--triangle-side) solid transparent;
    border-left: var(--overlay-size) solid $color-primary;
    z-index: 20;
  }

  &::after {
    box-sizing: content-box;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    border: var(--circle-border) solid $color-primary;
    border-radius: var(--circle-diameter);
  }
}

.media {
  display: block;
  width: 100%;
  height: 11.875rem;
  border-radius: 0.3125rem;
  object-fit: cover;

  @media (min-width: $small-screen) {
    height: 18.75rem;
  }
}

.media__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0;
  color: $color-primary;
  font-size: 0.875rem;
}

.media__date,
.media__price {
  display: none;
}
