.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 0.3125rem;
}

.tag-link {
  display: inline-block;
  padding: 0.1875rem 0.375rem;
  border: 1px solid $color-grey-300;
  background-color: transparent;
  border-radius: 1.3125rem;
  color: $color-primary;
  font-size: 0.75rem;
  text-decoration: none;

  &::before {
    content: "#";
  }
}

.tag-link:hover,
.tag-link:focus,
.tag-active {
  background-color: $color-primary;
  color: $white;
}
